.side
  .side__header
    .side__header__top-items
      .side__header__top-items__name
        = current_user.name
      .side__header__top-items__icons
        =link_to "#", class: "side__header__top-items__icons--icon" do
          = icon('far', 'edit', class: "side__header__top-items__icons--icon")
        =link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "side__header__top-items__icons--icon")
  .side__list
    .side__list__group-name
      グループ名
    .side__list__comment-last
      最後のコメント
    .side__list__group-name
      グループ名
    .side__list__comment-last
      最後のコメント
    .side__list__group-name
      グループ名
    .side__list__comment-last
      最後のコメント