* {
  box-sizing: border-box;
}
$btn-color: #38aef0;
$right-gray: #434a54;
$white: #ffffff;
$font-thin: #999999;
$font-dark: #333333;
.main {
  float: right;
  
  &__header {
    background-color: $white;
    width: calc(100vw - 300px);
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &__group-info {
      padding-left: 40px;
      &__group-name {
        padding-top: 35px;
        padding-bottom: 15px;
        color: $font-dark;
        font-size: 20px;
      }
      &--member-title {
        color: $font-thin;
        font-size: 12px;
        display: flex;
      }
      li {
        padding-left: 5px;
      }
    }  
    &--edit-btn {
        height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        margin-right: 40px;
        font-size: 16px;
        line-height: 40px;
        border: 1px solid $btn-color;
        color: $btn-color;
        text-decoration: none;
    }
  }

  &__message-list {
    background-color: #fafafa;
    width: calc(100vw - 300px);
    height: calc(100vh - 100px - 90px);
    padding: 35px 0 0 40px;
    overflow: scroll;
    &__message-unit {
      margin-bottom: 46px;
      &__messanger-info {
        padding-bottom: 12px;
        display: flex;
        &--messanger-name {
          color: $font-dark;
          font-size: 16px;
          font-weight: bold;
          padding-right: 10px;
        }
        &--sent-time {
          color: $font-thin;
          font-size: 12px;
        }
      }
      &--sent-message {
        font-size: 14px;
        color: $right-gray;
      }
    }
  }
  
  &__footer {
    background-color: #d2d2d2;
    width: calc(100vw - 300px);
    height: 90px;
    display: flex;
    align-items: center;
    &__message-form {
      height: 50px;
      width: calc(100% - 80px);
      margin: 0 auto;
      position: relative;
      &__message-create {
        background-color: $white;
        height: 50px;
        width: calc(100% - 15px - 100px);
        padding: 0 40px 0 10px;
        color: $right-gray;
        line-height: 50px;
        cursor: text;
        border-style: none;
        float: left;
        &__image-form {
          font-size: 24px;
          display: block;
          position: absolute;
          right: 125px;
          top: 10px;
          cursor: pointer;
          float: right;
          &--image-label {
            color: black;
            cursor: pointer;
            &--none {
              display: none;
            }
          }
        }
      }
      &__send-btn {
        background-color: $btn-color;
        height: 50px;
        width: 100px;
        line-height: 50px;
        text-align: center;
        margin-left: 15px;
        color: $white;
        border-style: none;
        padding: 0 30px;
        float: right;
        cursor: pointer;
      }
    }
  }

}